html {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#name-rect{
/* center it */
    position: absolute;
    margin-top: 430px;
    left: 50%;
    transform: translate(-50%, -50%);
}
svg, #bottom-text {
    padding: 0;
    margin: 0;
}
#bottom-text
{
    padding-left: 30px;
    padding-top: 24px;
    font-size: 20px;
    font-weight: bold;
}